<!DOCTYPE html>
<html>
 <head>
   <title>ubru</title>
   <link rel="stylesheet" href="css/style.css">
   <meta name="viewport" content="width=device-width">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
   <style>
     body { padding: 20px 20px 0 20px; }
     .center {
       text-align: center;
       width: 100%;
     }
     .button-center {
       margin-left: auto;
       margin-right: auto;
     }


   </style>
 </head>

 <body>

   <div id="root">

     <login-modal name="Log In" v-if="showModalLogin" @close="showModalLogin = false" @login="loggedIn = true; showModalLogin = false"></login-modal>

     <signup-modal name="Sign Up" v-if="showModalSignup" @close="showModalSignup = false" @login="loggedIn = true; showModalSignup = false"></signup-modal>

     <newbrew-modal name="New Brew" v-if="showModalNewbrew" @close="showModalNewbrew = false" @create="showModalNewbrew = false"></newbrew-modal>

     <tabs>
       <tab name="Ubru" :selected="true">
         <!-- <welcome name="ubru"></welcome> -->
         <section class="hero is-info is-fullheight">
          <div class="hero-body">
            <div class="container">
              <h2 id="logo" class="logo">Welcome to</h2>
              <h1 class="logo">ubru</h1>
            </div>
          </div>
        </section>
       </tab>

       <tab v-if="loggedIn" name="Your Brews" :selected="false">
         <button class="button is-large is-primary" @click="populateTable">Reload drinks</button>
         <table class="table">
             <thead>
               <tr>
                 <th>Brew Name</th>
                 <th>Temperature</th>
                 <th>Size</th>
                 <th>Type</th>
                 <th>Customize</th>
               </tr>
             </thead>
             <tbody id="brewList">
             </tbody>
             </tr>
           </table>

       </tab>

       <tab v-if="loggedIn" name="New Brew" :selected="false">
         <div class="modal-card">
           <header class="modal-card-head">
             <p class="modal-card-title">Create your new drink</p>
           </header>
           <section class="modal-card-body">
             <div class="field">
               <label class="label">Brew Name</label>
               <div class="control">
                 <input id="drinkname" class="input is-large" type="text" ref="drinkname" placeholder="Name of your brew">
               </div>
             </div>

             <div class="field">
               <label class="label">Temperature (C)</label>
               <div class="control">
                 <div class="select is-large">
                   <select id="temperature">
                     <option>80</option>
                     <option>85</option>
                     <option>90</option>
                   </select>
                 </div>
               </div>
             </div>

             <div class="field">
               <label class="label">Drink Size</label>
               <div class="control">
                 <div class="select is-large">
                   <select id="size">
                     <option>Small</option>
                     <option>Medium</option>
                     <option>Large</option>
                   </select>
                 </div>
               </div>
             </div>
            <br></br>
             <div class="field">
               <div class="control is-large radios">
                 <label class="radio">
                   <input id="ES" type="radio" name="question">
                   Espresso
                 </label>
                 <label class="radio">
                   <input id="AM" type="radio" name="question">
                   Americano
                 </label>
               </div>
             </div>
           </section>
           <footer class="modal-card-foot">
           <div class="field is-grouped button-center">
             <div class="control">
               <button class="button is-link is-large is-hovered" @click="sendNewBrew">Submit</button>
             </div>
             <!-- <div class="control">
               <button class="button is-text" @click="$emit('close')">Cancel</button>
             </div> -->
           </div>
           </footer>
         </div>


       </tab>

       <tab name="How It Works" :selected="false">
         <!-- <div class="main-header">
           <h2 class="logo">How it works...</h2>
         </div> -->

         <section class="hero is-info is-primary">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                How does it work?
              </h1>
              <h2 class="subtitle">
                Learn how to have your favorite brew, wherever you go!
              </h2>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <h1 class="title">Sign in</h1>
            <h2 class="subtitle">
              First, make a <strong>ubru</strong> account and sign in!
            </h2>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <h1 class="title">Create your first drink</h1>
            <h2 class="subtitle">
              Go to the <strong>New Brew</strong> tab. Name your drink and customize the temperature and size!
            </h2>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <h1 class="title">Find a nearby <strong>Brurista</strong></h1>
            <h2 class="subtitle">
              <button class="button is-link is-large">Locations</button>
            </h2>
          </div>
        </section>



       </tab>



       <tab v-if="!loggedIn" name="Sign In" :selected="false">
         <section class="hero is-medium is-primary is-bold">
          <div class="hero-body button-center">
            <div class="container">
              <!-- <div class="columns"> -->
                  <a class="button is-large is-link" @click="showModalLogin = true"><div class="column">Log in</div></a>
                  <br></br>
                  <a class="button is-large is-danger" @click="showModalSignup = true"><div class="column">Sign up</div></a>
              <!-- </div> -->
            </div>
          </div>
        </section>
       </tab>
     </tabs>
   </div>

   <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
   <script src="js/main.js"></script>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

   <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>ubru</strong> brought to you by <a href="http://www.bu.edu/eng/departments/ece/undergraduate/ece-day-2017/">Boston University ECE Senior Design Team 12</a>.
        </p>
        <a href="https://bulma.io">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
        </a>
      </div>
    </div>
  </footer>

 </body>

</html>
